name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # Change this to your main branch name if different

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Remove API routes for static export
        run: rm -rf apps/web/src/app/api

      - name: Build and Export
        run: npm run build -w apps/web
        env:
          NEXT_PUBLIC_IS_GH_PAGES: "true"
          NODE_ENV: production

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./apps/web/out
